#gridHome{
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "aboutUs aboutUsText"
    "commercialArchitectureText commercialArchitecture"
    "realEstateSale realEstateSaleText"
    "designIdeasText designIdeas";
    gap: 70px;

    :nth-child(4n+3){ //Con esto selecciono solo los titulos de la derecha
        display: flex;
        flex-direction: row;
        justify-content: left !important; //Es para que se justifiquen hacia la izquierda sin importar los estilos de los hijos
    }
    
    @each $position, $element in $texts{ //Usando el maps de textos generalizo los estilos para cada bloque en Home
        .#{$element}{
            margin: $marginHome;
            display: flex;
            align-items: center;
            justify-content: right;
            grid-area: $element;
            width: 700px;
            p{
                padding: 50px;
                background-color: rgb(169, 169, 169);
                border-style: solid;
                border-radius: 0 50px 0 50px;
            }
        }
    }
}