$texts: (
    firstTitle: aboutUs,
    firstText: aboutUsText,
    secondTitle: commercialArchitecture,
    secondText: commercialArchitectureText,
    thirdTitle: realEstateSale,
    thirdText: realEstateSaleText,
    fourthTitle: designIdeas,
    fourthText: designIdeasText,
);