@media screen and (min-width: 1200px) {
  .col-sm:nth-child(even) {
    position: relative;
    top: 680px;
  }
  #gridHome {
    height: 50000px;
  }
}
@media screen and (max-width: 1200px) {
  .lastGridHomeRow .col-sm:last-child {
    display: none !important;
  }
}
body #backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  max-width: 100%;
}
body h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

* {
  margin: 0; /*Reseteo para que no me aparezcan los margenes por default del browser*/
}

#navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0.507);
  height: 50px;
  margin-bottom: 90vh;
}
#navBar ul li {
  position: relative;
  transition: color 0.5s;
}
#navBar ul li:hover {
  color: white;
}
#navBar ul li:hover ul {
  color: white;
}
#navBar ul li ul {
  display: none;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition: 1s;
}
#navBar ul li ul:hover {
  background-color: rgb(128, 128, 128);
}

#gridHome {
  height: fit-content;
  background-color: white;
  font-size: 30px;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "aboutUs aboutUsText"
  "commercialArchitectureText commercialArchitecture"
  "realEstateSale realEstateSaleText"
  "designIdeasText designIdeas";
  gap: $homeGridGap;*/
  /*:nth-child(4n+3){ //Con esto selecciono solo los titulos de la derecha
      display: flex;
      flex-direction: row;
      justify-content: left !important; //Es para que se justifiquen hacia la izquierda sin importar los estilos de los hijos
  }

  :nth-child(4n){
      position: relative;
      right: -200px;
  }

  .aboutUs{              //No esta bueno hacer esto manualmente sin el loopp pero no se me ocurre mejor forma, es para que se centren los titulos con los textos
      position: relative;
      right: -200px;
  }

  .realEstateSale{      //No esta bueno hacer esto manualmente sin el loopp pero no se me ocurre mejor forma, es para que se centren los titulos con los textos
      position: relative;
      right: -200px;
  }*/
  /*.aboutUs{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.aboutUsText{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.commercialArchitecture{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.commercialArchitectureText{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.realEstateSale{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.realEstateSaleText{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.designIdeas{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
  /*.designIdeasText{
      margin: $marginHome;
      display: flex;
      align-items: center;
      justify-content: right;
      grid-area: $element;
      width: 700px;
      p{
          padding: 50px;
          background-color: $colorHomeCards;
          border-style: solid;
          border-radius: 0 50px 0 50px;
          border-left: none;
          border-right: none;
      }
  }*/
}
#gridHome .col-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gridHome .col-sm #simbolos {
  height: 100px;
  margin: 50px;
  width: fit-content;
}
#gridHome .col-sm img {
  max-width: 500px;
}
#gridHome #aboutUs {
  border-bottom: solid;
}

#homeMail {
  z-index: -1;
  position: relative;
  background-color: white;
}
#homeMail form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#homeMail form label {
  margin: 50px;
}
#homeMail form input {
  margin: 0px;
  width: 450px;
}
#homeMail form textarea {
  width: 40%;
  height: 100px;
}

#footer {
  background-color: rgb(11, 12, 37);
  max-width: 100%;
  padding: 20px;
  margin-top: 20px;
  color: white;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
